<!-- display breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <!-- root -->
    <li class="breadcrumb-item">
      <a href="<%= folders_path %>"><i class="fas fa-home"></i></a>
    </li>
    <!-- other items -->
    <% @breadcrumb.each_with_index do |folder, index| %>
      <% if index < @breadcrumb.size - 1 %>
        <li class="breadcrumb-item"><a href="<%= folder_path(folder) %>"><%= folder.name %></a></li>
      <% else %>
        <li class="breadcrumb-item active" aria-current="page"><%= folder.name %></li>
      <% end %>
    <% end %>
  </ol>
</nav>

<!-- display folders and files -->
<%= render 'shared/folders', folders: @folders %>





