
<% if user_signed_in? %>
  <div class="container pt-5">
    <h2>My last documents saved</h2>
    <br>
    <div class="row">
      <% if @document.length > 0 %>
        <% @document.each do |doc| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <%= link_to doc do %>
                <div>
                  <h5><%= doc.name %></h5>
                </div>
                <%= cl_image_tag(doc.photos.first.key, height: 200) %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card-trip">
            <em>No documents added yet...</em>
            <%= link_to '<i class="fas fa-plus"></i> Add a new doc'.html_safe, new_document_path, class: "btn btn-primary"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container pt-5">
    <h2>Next upcoming deadlines</h2>
    <br>
    <div class="row">
      <% if @docu_ddl.length > 0 %>
        <% @docu_ddl.each do |doc| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <%= link_to doc do %>
                <div>
                  <h5><%= doc.name %></h5>
                </div>
                 <div>
                  <h5><%= "Expiration date #{doc.deadline}" %></h5>
                </div>
                <%= cl_image_tag(doc.photos.first.key, height: 200) %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card-trip">
            <em>Good job ! No deadlines...</em>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% else %>

  <div class="container pt-5">
    <div class="row">
      <div class="anim-typewriter">
        <div class="line-1 anim-typewriter">
          <span>Need help keeping track with paperwork ? </span>

          <span>Try safedoc</span>

          <!-- Safedoc is an app designed to help you keep all your important documents at the same place and healp you manage your contract's deadlines" -->
        </div>
      </div>
    </div>
  </div>
  <% end %>


