
<% if user_signed_in? %>
  <div class="container pt-5">
    <h2>My last documents saved</h2>
    <br>
    <div class="row">
      <% if @last_documents.length > 0 %>
        <% @last_documents.each do |doc| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <%= link_to doc do %>
                <div>
                  <h5><%= doc.name %></h5>
                </div>
                <%= cl_image_tag(doc.photos.first.key, height: 200) %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card-trip">
            <em>No documents added yet...</em>
            <%= link_to '<i class="fas fa-plus"></i> Add a new doc'.html_safe, new_document_path, class: "btn btn-primary"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container pt-5">
    <h2>Next upcoming deadlines</h2>
    <br>
    <div class="row">
      <% if @doc_by_deadline.length > 0 %>
        <% @doc_by_deadline.each do |doc| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <%= link_to doc do %>
                <div>
                  <h5><%= doc.name %></h5>
                </div>
                 <div>
                  <h5><%= "Expiration date #{doc.deadline}" %></h5>
                </div>
                <%= cl_image_tag(doc.photos.first.key, height: 200) %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card-trip">
            <em>Good job ! No deadlines...</em>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% else %>
<!-- -------------------- User not signed -------------------- -->

  <div>
    no user signed in
  </div>

  <% end %>


