<div class="container bg-white">
  <!-- display breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <!-- root -->
        <li class="breadcrumb-item">
          <a href="<%= folders_path %>"><i class="fas fa-home fa"></i></a>
        </li>
        <!-- other items -->
        <% @breadcrumb.each_with_index do |folder, index| %>
          <li class="breadcrumb-item"><a href="<%= folder_path(folder) %>"><%= folder.name %></a></li>
        <% end %>
        <li class="breadcrumb-item active" aria-current="page"><%= @document.name %></li>
      </ol>
    </nav>
  <!-- end display breadcrumb -->
  <div class="row justify-content-center m-auto">
    <div class="form border mt-5">
      <!-- start display card -->
      <div class="bg-light m-0 p-3 border-bottom">
        <div class="d-flex align-items-end">
          <div class="mr-auto">
            <h3>Name : <%= @name %></h3>
          </div>
          <div class="p-2">
            <span>
              <%= @deadline %>
            </span>
          </div>

        </div>

        <div class="d-flex align-items-end">
          <div class="mr-auto p-2 d-none d-sm-block">
            <% if @tags %>
              <span>Tags : <% @tags.each do |tag| %>
                <label class="saved-tag"><%= tag.name %></label>
                <% end %>
              </span>
            <% end %>
          </div>
          <div class="p-2 align-self-end">
            <span class="ml-2" style="font-size: 24px;">
              <%= link_to(:action => 'edit') do %>
                <i class="fa fa-edit fa"></i>
              <% end %>
              <%= link_to document_path(@document), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="ml-3 fa fa-trash"></i>
              <% end %>
            </span>
          </div>

        </div>

      </div>

      <div class="d-flex justify-content-center p-0">
        <div>

          <!-- preview -->
          <div class="photo">
            <a href="#" role="button" data-toggle="modal" data-target="#exampleModalCenter">
            <%= cl_image_tag(@thumb_key) %>
            </a>
            <div class="card-body border-top">
              <a href="<%= cloudinary_url(@download_key, :flags => "attachment") %>" class="btn btn-info text-white"><i class="fas fa-file-download mr-2" style="font-size: 18px;"></i> Downlaod document</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


      <!-- Modal -->
      <div class="modal fade modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
            <!-- render carousel -->
              <%= render 'shared/carousel', document: @document %>
            </div>
            <!-- End modal: footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

