<div class="container bg-white">
  <div class="row justify-content-center">

    <div class="col-sm-10 form m-0 m-sm-5">
      <!-- display breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- root -->
          <li class="breadcrumb-item">
            <a href="<%= folders_path %>"><i class="fas fa-home fa"></i></a>
          </li>
          <!-- other items -->
          <% @breadcrumb.each_with_index do |folder, index| %>
            <li class="breadcrumb-item"><a href="<%= folder_path(folder) %>"><%= folder.name %></a></li>
          <% end %>
          <li class="breadcrumb-item active" aria-current="page"><%= @document.name %></li>
        </ol>
      </nav>
      <!-- end display breadcrumb -->

      <!-- start display card -->
        <div>

          <h5 class="card-header text-center pb-0">
            <%= @name %>
              <span class="ml-2">
                <%= link_to(:action => 'edit') do %>
                  <i class="fa fa-edit fa"></i>
                <% end %>
              </span>
            <p>
              <% if @tags %>
                <% @tags.each do |tag| %>
                  <label class="saved-tag"><%= tag.name %></label>
                <% end %>
              <% end %>
            </p>
          </h5>

          <div class="card-body d-flex justify-content-center">
            <div>
              <div class="card-text text-center mb-3">
                <%= @deadline %>
              </div>
              <!-- preview -->
              <div class="card photo">
                <a href="#" role="button" data-toggle="modal" data-target="#exampleModalCenter">
                <%= cl_image_tag(@thumb_key) %>
                <div class="bottom-right"><i class="fas fa-search-plus"></i></div>
                </a>
                <div class="card-body top-solid">
                  <a href="<%= cloudinary_url(@download_key, :flags => "attachment") %>" class="btn btn-info text-white">Downlaod document</a>
                </div>
              </div>
            </div>
           </div>
        </div>


      <!-- Modal -->
      <div class="modal fade modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
            <!-- render carousel -->
              <%= render 'shared/carousel', document: @document %>
            </div>
            <!-- End modal: footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

