<!-- display breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <!-- root -->
    <li class="breadcrumb-item">
      <a href="<%= folders_path %>"><i class="fas fa-home fa"></i></a>
    </li>
    <!-- other items -->
    <% @breadcrumb.each_with_index do |folder, index| %>
      <li class="breadcrumb-item"><a href="<%= folder_path(folder) %>"><%= folder.name %></a></li>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page"><%= @document.name %></li>
  </ol>
</nav>
<!-- end display breadcrumb -->

<!-- start display card -->
<div class="container">
  <div class="card">
    <h5 class="card-header">Document details</h5>
    <div class="card-body">
      <p class="card-text">Name: <%= @document.name %></p>
      <p class="card-text">Deadline: <%= @document.deadline %></p>
      <p class="card-text">Pages: <%= @document.photos.size %></p>
      <!-- preview -->
      <div class="card" style="width: 25rem;">
        <%= cl_image_tag(@document.photos.first.key, :gravity=>"auto", :width=>400, :aspect_ratio=>"16:9", :crop=>"fill", class: "card-img-top") %>
        <div class="card-body">
          <p class="card-text">Last updated: <%= @document.updated_at %></p>
          <a href="#" class="btn btn-primary">Downlaod document</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end display breadcrumb -->
